{% extends "base.html" %}

{% block title %}212 Burgers{% endblock %}

  {% block content %}

    <div id="header">
      <img src="{{       url_for ('static', filename='logo.svg')      }}" id="logo" />
      <h1>Welcome!</h1>
      <em>BURGERS &bull; DRINKS &bull; FRIES</em>
      <p> <a class="btn-yellow" href="{{ url_for('order') }}">order now</a> </p>
    </div>

    <div id="menu">
      <h1>Menu</h1>
        <div>
          <h2>Burgers</h2>
          <ol class="menu-items">

            {%for burger in burgers%}
               <li> {{burger[0]}} <span class="price">{{burger[1]}}</span> </li>
            {% endfor %}
            <!--
            <li>Classic Burger <span class="price">$4.99</span></li>
            <li>Cheese Burger <span class="price">$5.99</span></li>
            <li>Chicken Burger <span class="price">$5.99</span></li>
            <li>Double Burger <span class="price">$6.99</span></li>
  -->
          </ol>
        </div>

      <div>
        <h2>Drinks</h2>
        <ul class="menu-items">
          {%for drink in drinks%}
          <li>{{drink[0]}} <span class="price">{{drink[1]}}</span></li>
          {% endfor %}
          <!--
          <li>Cola <span class="price">$0.99</span></li>
          <li>Ginger Ale <span class="price">$0.99</span></li>
          <li>Beer <span class="price">$1.99</span></li>
          <li>Coffee <span class="price">$1.99</span></li>
        -->
        </ul>
      </div>

      <div>
        <h2>Sides</h2>
        <ul class="menu-items">
          {%for side in sides%}
          <li>{{side[0]}} <span class="price">{{side[1]}}</span></li>
          {% endfor %}
          <!--
          <li>Fries <span class="price">$1.99</span></li>
          <li>Onion Rings <span class="price">$1.99</span></li>
          <li>Mushrooms <span class="price">$1.99</span></li>
          <li>Salad <span class="price">$1.99</span></li>
        -->
        </ul>
      </div>

    </div>




{% endblock %}
</html>
